@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body, #root, .wrapper {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  
}

.account-handler {
  display:block;
  margin: auto;
  height: 100%;
  text-align: center;
  padding: 10px;
  background-color: #BBDFEE;
}

.account-handler h1 {
  margin: 20px;
  font-size: xxx-large;
}

.login-form form {
  background-color: #048ABF;
}

.login-form {
  margin: auto;
  width: fit-content;
  border: 5px solid #048ABF;
  background-color: #048ABF;
  border-radius: 15px;
  text-align: left;
  padding: 10px 10px;
  display: flex;
}

.login-form button {
  padding: 5px;
  display: flex;
  margin:auto;
  border: none;
  border-radius: 3px;
}

.login-form button:hover {
  background-color: #76BFDC;
}

.login-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  width: 300px;
  line-height: 26px;
  margin-bottom: 10px;
  background-color: #048ABF;
}

.login-form input {
  flex: 0 0 200px;
  margin-left: 10px;
  padding: 0px 5px;
  border: none;
  border-radius: 3px;
}

.login-form input:focus {
  background-color: #76BFDC;
  outline:none;
}

.homepage {
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-flow: row;
  background-color: #BBDFEE;
}

.homepage h1 {
  font-size: xxx-large;
  text-align: center;
  margin: 10px;
}

.homepage .leftside {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage .button-panel {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.homepage .login {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.homepage .signup {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.homepage .button {
  background-color: #048ABF;
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 5px 10px;
}
.homepage .button:hover {
  background-color: #03587A;
}

.homepage .rightside {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage .rightside img {
  width: 100%;
  padding: 20px;
  max-height: 100%;
}

.signup-page {
  display:block;
  margin: auto;
  height: 100%;
  text-align: center;
  padding: 10px;
  background-color: #BBDFEE;
}

.signup-page h1 {
  margin: 20px;
  font-size: xxx-large;
}


.home,
.reports,
.products,
.team,
.reports {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}